

.about{
    height: 87vh;
    width: 100vw;
    min-height: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #A3CEF1;
    overflow: hidden;
    position: relative;
    
    
    .about-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        margin: 10px;
        z-index: 98;
        h1{
            margin: 10px 0 ;
        }
        div{
            
            height: 300px;
            width:300px;
            background-image: url("https://cdn.discordapp.com/attachments/771150639732359212/829110653704601640/unknown.png");
            background-position: top;
            overflow: hidden;
        }
        img {
            height: 20%;
            border-radius: 50%;
        }
        p{
            padding: 5px;
            border: 3px solid #274C77;
            border-radius: .25rem;
            margin: 5px 7px;
            max-width: 500px;
        }
        h2{
            margin-top: -10px;
        }
    }
    
    .box-area{
        
        top: 0;
        left: 0;
        width: 100%;
        
        
        li{
            position:absolute;
            display: block;
            list-style: none;
            width: 25px;
            height: 25px;
            background-color: rgba(255,255,255, 0.4);
            animation:  animate 20s linear infinite;
            bottom: -200px;
            overflow: hidden;
            border-radius: 50%;
        }
        li:nth-child(1){
            left: 86%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
            border-radius: 50%;
        }
        li:nth-child(2){
            left: 12%;
            width: 30px;
            height: 30px;
            animation-delay: 1.5s;
            animation-duration: 10s;
            
        }
        li:nth-child(3){
            left: 70%;
            width: 100px;
            height: 100px;
            animation-delay: 5.5s;
            
        }
        li:nth-child(4){
            left: 70%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 15s;
            
        }
        li:nth-child(5){
            left: 65%;
            width: 40px;
            height: 40px;
            animation-delay: 0s;
            
        }
        li:nth-child(6){
            left: 15%;
            width: 110px;
            height: 110px;
            animation-delay: 3.5s;
            
            
        }
    }

}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
    }
    
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media only screen and (min-width: 500px){
    .about{
        min-height: 365px;
    }
}

@media only screen and (max-height: 470px){
    .about{
        min-height: 420px;
    }
}

@media only screen and (min-width: 991px){
    .about{
        padding: 0 15%;
        .about-content{
            img{
                padding: 20px;
                height: 35%;
            }
            p{
                padding: 10px;
                border: 3px solid #274C77;
                border-radius: .25rem;
                font-size: 20px;
            }
        }
    }
}