footer {
    background-color: #6096BA;
    display: flex;
    justify-content: center;
    padding: 35px;
    img {
        margin: 0 5px;
    }
    svg {
        min-height: 50px;
        min-width: 50px;
    }
}