.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-height: 30vh;
    .icons{
        
        svg {
            min-height: 50px;
            min-width: 50px;
        }
    }
}